version: "0.2"
ignorePaths: []
dictionaryDefinitions:
  - name: custom-dictionary
    path: ./.cspell/custom-dictionary.txt
    addWords: true
dictionaries:
  - custom-dictionary
words:
  - Atoi
  - codacy
  - EDITMSG
  - embeddedstructfieldcheck
  - excludeonly
  - exhaustruct
  - Fprintf
  - Fprintln
  - gofiber
  - golines
  - gomod
  - govulncheck
  - ints
  - localmodule
  - recvcheck
  - goccy
  - sarif
  - securego
  - strconv
  - strs
  - tagalign
  - vettool
ignoreWords: []
import: []
